@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background:url(../imagens/frame-iphone.png) no-repeat;
}
iframe#tela{
    position: relative;
    top: 81px;
    left: 23px;
    width: 265px;
    height: 468px;
}

section#redes-sociais img{
    position: relative;
    left: 50%;
    transform: translate(-320%);
    margin: 10px 0px 0px 0px;

    width: 48px;
    border-radius: 24px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.187);
    box-sizing: border-box;
}

section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.398);
    transform: translate(-325%, 3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.511);
    transition: trasform .3s, border .5s;
}